@for $index from 0 through 8 {
	// gap size
	$size: $index * 4;
	// margin
	.mt-#{$size} {margin-top: #{$size}px !important};
	.mr-#{$size} {margin-right: #{$size}px !important};
	.mb-#{$size} {margin-bottom: #{$size}px !important};
	.ml-#{$size} {margin-left: #{$size}px !important};
	.mx-#{$size} {margin: {left: #{$size}px !important; right: #{$size}px !important}};
	.my-#{$size} {margin: {top: #{$size}px !important; bottom: #{$size}px !important}};
	.m-#{$size} {margin: #{$size}px !important};
	// padding
	.pt-#{$size} {padding-top: #{$size}px !important};
	.pr-#{$size} {padding-right: #{$size}px !important};
	.pb-#{$size} {padding-bottom: #{$size}px !important};
	.pl-#{$size} {padding-left: #{$size}px !important};
	.px-#{$size} {padding: {left: #{$size}px !important; right: #{$size}px !important}};
	.py-#{$size} {padding: {top: #{$size}px !important; bottom: #{$size}px !important}};
	.p-#{$size} {padding: #{$size}px !important};
	// border radius
	.brt-#{$size} {border-top-left-radius:#{$size}px !important; border-top-right-radius:#{$size}px !important};
	.brr-#{$size} {border-top-right-radius: #{$size}px !important; border-bottom-right-radius: #{$size}px !important};
	.brb-#{$size} {border-bottom-left-radius:#{$size}px !important; border-bottom-right-radius: #{$size}px !important};
	.brl-#{$size} {border-top-left-radius: #{$size}px !important; border-bottom-left-radius: #{$size}px !important};
	.br-#{$size} {border-radius: #{$size}px !important};
}

.ml-auto {
	margin: {
		left: auto;
		right: 0;
	}
}
.mr-auto {
	margin: {
		left: auto;
		right: 0;
	}
}
.m-auto {
	margin: {
		left: auto;
		right: auto;
	}
}

